@import "tailwindcss";

@layer utilities {
  .noscrollbar::-webkit-scrollbar {
    display: none;
  }

  .noscrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.generalColorPicker .react-colorful__hue,
.studioColorPickerHex .react-colorful__hue {
  order: -1;
}

.generalColorPicker .react-colorful {
  width: auto;
  height: 230px;
}

.generalColorPicker .react-colorful__hue,
.generalColorPicker .react-colorful__alpha {
  height: 14px;
  border-radius: 8px;
}

.generalColorPicker .react-colorful__hue:hover,
.generalColorPicker .react-colorful__alpha:hover,
.generalColorPicker .react-colorful__saturation:hover {
  cursor: pointer;
}

.generalColorPicker .react-colorful__saturation {
  margin: 8px 0;
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 23px;
  width: 23px;
  background-color: #6366f1;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: #4f46e5;
}

input[type="range"]::-moz-range-thumb {
  height: 23px;
  width: 23px;
  background-color: #6366f1;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

input[type="range"]:hover::-moz-range-thumb {
  transform: scale(1.2);
  background-color: #4f46e5;
}

.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  100% {
    transform: translateX(100%);
  }
}
.graydotbg {
  background-color: #f8f8f8;
  background-image: radial-gradient(circle, #d0d0d0 1px, transparent 1px);
  background-size: 16px 16px;
}
